

/* STANDARD CLASSES */
.font-rbt{
  font-family: 'Roboto Condensed', sans-serif;
}

.font-arial {
  font-family: Arial, Helvetica, sans-serif;
}

.font-22 {
  font-size: 1.375rem;
  line-height: 1.5rem;
}

.font-20 {
  font-size: 1.25rem;
  line-height: 1.25rem;
}

.font-18 {
  font-size: 1.125rem;
  line-height: 1.125rem;
}

.font-17 {
  font-size: 1.0625rem;
  line-height: 1.25rem;
}

.font-14 {
  font-size: .875rem;
  line-height: 1.25rem;
}

.font-13 {
  font-size: .8125rem;
  line-height: 1.125rem;
}

.black {
  color: #000;
}

.full-w {
  width: 100%;
}

.gray-title {
  text-transform: uppercase;
  font-size: 1rem;
  line-height: 1rem;
  color: rgba(3,3,3,.4);
  margin: 1.2rem 0 .6875rem;
}

.gray-hover:hover {
  color: rgba(3,3,3,.4);
}

.gray-icon-red {
  color: #f72210;
}

.pink-hover:hover {
  color: #f92859;
}

.red-hover:hover {
  color:#f72210;
}

.under-red-hover:hover {
  color: #000;
  text-decoration: underline #f72210 !important ;
}

.nodec-list {
  list-style: none;
}

/* NAVBAR */
.footer-row ul,
.header {
  margin: 0;
  padding: 0;
}

.navbar {
  background-color: #f72210;
  height: 3.125rem;
  padding: 0;
}

.navbar-brand img {
  margin: 0 0 .25rem .9375rem;
  width: 8.25rem;
  filter: invert();
}

.profile {
  width: 1.875rem;
  margin-right: .3125rem;
}

.btn-warning {
  padding: 0.1rem .3rem;
  background-color: #ffe400;
  font-size: .7rem;
  font-weight: 900;
}

.navbar-toggler {
  margin-right: .1875rem;
}

.navbar-toggler-icon {
  width: 1.375rem;
}

/* MAIN CONTENT */

/* TOP STORY */
.top-story  {
  margin-top: 3rem;
  background-color: #f4f5f7;
}

.top-story-col {
  background-color: white;
}

.card {
  border: 0;
}

.gray-icon {
  height: 1.875rem;
  width: auto;
  background-color: rgba(255,255,255,.9);
  padding: .5rem .9375rem .5625rem;
  z-index: 1;
  line-height: .9375rem;
  position: absolute;
  left: 0;
  bottom: 0;
}

.card-body {
  padding: .625rem 0 1.25rem;
}

.card-title {
  line-height: 1.5rem;
}

.card-text {
  line-height: 1.125rem;
}

/* FEATURED STORIES */
.featured-stories {
  margin-top: 1.25rem;
  background-color: white;
}

/* THE DEBATE */
.footer,
.subscribe-row2,
.subscribe,
.editors,
.magazine,
.pandemic-hero,
.more-stories,
.midia-cards,
.debate,
.opinion {
  padding-top: 1.25rem;
  background-color: #f4f5f7;
}

.debate-first {
  border-top: .25rem solid #f92859;
  margin: 0 .9375rem;
  padding-top: .625rem;
  padding-bottom: .25rem;
}

.opinion-box img,
.debate-sec-box img,
.debate-first-box img {
  width: 3.9375rem;
}

.opinion-info-box,
.debate-info-box {
  margin-left: .9375rem;
}

.versus {
  margin: 0 .9375rem;
}

.versus::before {
  top: calc(50% - .125rem);
  content: "";
  display: block;
  background-color: #d9d9d9;
  height: .0625rem;
  position: absolute;
  left: 0;
  right: 0;
}

.vs-icon {
  z-index: 1;
  width: 2rem;
  height: 2rem;
  background-color: #000;
  color: #d6d6d6;
  border-radius: 50%;
  text-align: center;
  font-size: .9rem;
  line-height: 2.1rem;
  margin: .375rem auto;
}

.versus::after {
  top: 50%;
  content: "";
  display: block;
  background-color: #d9d9d9;
  height: .0625rem;
  position: absolute;
  left: 0;
  right: 0;
}

.debate-sec {
  border-bottom: .25rem solid #1c87fb;
  padding-bottom: .75rem;
  margin: 0 .9375rem;
}

.debate-sec-box div:first-child {
  margin-left: 0;
}

/* OPINION SECTION */
.footer-row,
.subscribe-row,
.b-news-row,
.editors-row,
.magazine-row,
.pandemic-row,
.more-stories-row,
.midia-cards-row,
.opinion-row,
.debate-box {
  background-color: white;
  padding-bottom: 1.875rem;
}

.opinion-box {
  padding-top: .8375rem;
  margin-bottom: .9rem;
  border-top: .0625rem solid rgb(195, 195, 195, .6);
}

.opinion-col div:nth-child(2) {
  border-top: 0;
  padding-top: unset;
}

.opinion-author {
  color: #555555;
}

/* MIDIA CARDS SECTION */
.subscribe-col-int2,
.subscribe-row,
.editors-row,
.midia-cards-row {
  padding-top: 1.25rem;
}

.midia-card-body {
  padding: 1.1rem;
}

.midia-card {
  margin-bottom: 1.8rem;
}

/* MORE STORIES */
.more-stories-content {
  padding: .875rem 0;
  border-top: .0625rem solid #ddd;
}

.more-stories-img-box {
  width: 5.9375rem;
  margin-right: .9375rem;
}

.more-stories-texts a {
  margin-bottom: .7rem;
}

/* PANDEMIC HEROES */
.pandemic-col div:nth-child(11) {
  margin-bottom: 0;
}

.pandemic-col h3:nth-child(3) {
  margin-top: 0;
}

.pdmic-image {
  position: relative;
  overflow: hidden;
}

.pdmic-tags {
  left: 0;
  bottom: 0;
}

.pdmic-tags a {
  font-size: .8125rem;
  line-height: 1.25rem;
  color: #333;
  background-color: #C2D4D7;
  padding-left: .375rem;
  padding-right: .375rem;
}

.pdmic-info {
  padding: .9375rem 0 1.25rem;
}

.pdmic-info a h3 {
  font-size: 1rem;
  line-height: 1.1875rem;
  color: rgb(3, 3, 3, .5);
}

.sponsored-box {
  margin: 1.9rem 0;
}

.sponsored-text {
  color: #3581F4;
}

.sign-up-box {
  max-width: 18.75rem;
  margin: 0 auto;
  padding: 1.25rem;
  border: .0625rem solid #e5e5e5;
  background-color: #f4f5f6;
}

.editors-title,
.magazine-title,
.sign-up-title {
  font-size: 1.1875rem;
  line-height: 1.1875rem;
  margin-bottom: .9375rem;
}

.editors-icon,
.magazine-icon,
.sign-up-icon {
  margin-right: .625rem;
  background: url("/assets/newsweek-favicon.ico") center/contain no-repeat #f72210;
}

.sign-up-icon {
  width: 3rem;
  height: 2rem;
}

.sign-up-email-text,
.sign-up-email-submit {
  height: 2rem;
}

.sign-up-email-text {
  color: #555;
  font-size: .875rem;
  font-family: "Helvetica",sans-serf;
  background-color: white;
  border: .0625rem solid #e0e1e1;
  text-indent: .5625rem;
}

.sign-up-email-submit {
  margin-top: .5rem;
  color: white;
  cursor: pointer;
  font-weight: 500;
  background-color: #f72210;
  border: 0;
  border-radius: .2rem;
}

/* MAGAZINE */
.magazine-row {
  padding-top: 1.3rem;
}

.editors-icon,
.magazine-icon {
  width: 1.9375rem;
  height: 1.8125rem;
}

.mgz1-feature {
  font-size: 1.125rem;
  background-color: #f4f5f6;
  text-align: center;
  margin-bottom: 0;
  padding: .625rem .625rem .625rem .75rem;
}

.mgz1-feature::after {
    content: "";
    display: inline-block;
    width: .5rem;
    height: .875rem;
    margin-left: .625rem;
    background: url(https://g.newsweek.com/www/images/icon-arrow-right.svg) center/contain no-repeat;
    filter: invert(100%);
}

.mgz1-feature:hover {
  color: #000;
  background-color: #DBDCDD;
}

.cat a,
.mgz2-category {
  font: bold 1rem/1.625rem;
  color: #f72210;
  margin-top: .625rem;
  margin-bottom: .625rem;
}

.main-cat {
  padding: .1rem .4375rem;
  background-color: #f72210;
  color: white;
  margin-right: .4375rem;
}

.mgz2-title {
  margin-bottom: 1.875rem;
}

.mgz2-title {
  font-size: 1rem;
  line-height: 1rem;
}

/* EDITORS PICK */
.editors-row {
  padding-bottom: 1.3rem;
}

.editors-title {
  border-bottom: .0625rem solid #d9d9d9;
  padding-bottom: .75rem;
}

/* BOTTOM NEWS */
.b-news-title {
  font-weight: 700;
  border-top: .0625rem solid #d9d9d9;
  color: #f72210;
  padding-top: 1.5625rem;
  padding-bottom: .6875rem;
}

.b-news-image-title {
  margin-top: .625rem;
  margin-bottom: 1.5625rem;
}

.b-news-feature-box {
  margin-bottom: 1.875rem;
}

.b-news-feature-img {
  width: 5.9375rem;
  margin-right: .9375rem;
}

.b-news-feature-box ul {
  margin: 0;
  padding: 0;
}

.b-news-feature-box ul li {
  padding-bottom: .625rem;
}

.b-news-feature-box ul li:nth-child(2),
.b-news-feature-box ul li:nth-child(3) {
  border-top: .0625rem solid  #ddd;
  padding-top: .625rem;
}

/* SUBSCRIBE */
.subscribe-row {
  padding-bottom: 0 !important;
}

.subscribe-col1 {
  margin-bottom: 1.25rem;
}

.subscribe-title {
  padding-bottom: .6875rem;
}

.subscribe-col1-int {
  text-align: center;
  background-color: #f4f5f6;
  padding: 1.5rem 1.25rem 7rem;
  height: max-content;
}

.subscribe-col-int2 {
  background-color: white;
  padding-bottom: 1.3rem;
}

.subscribe-img-box {
  padding-right: 5.625rem;
  padding-bottom: .8125rem;
  margin-bottom: .9375rem;
  height: 10rem;
}

.subscribe-info {
  position: relative;
  top: 5rem;
}

.subscribe-signup-info p,
.subscribe-info p {
  font: 300 15px/21px "Helvetica Neue",Helvetica,Arial,sans-serif;
  margin-bottom: 1.25rem;
}

.subscribe-img-front,
.subscribe-img-back {
  width: 10.625rem;
  height: 13.75rem;
}

.subscribe-img-back img {
  vertical-align: middle;
  max-width: 100%;
  height: auto;
}

.subscribe-img-front {
  top: .8125rem;
  left: 5rem;
}

.subscribe-button {
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 1.125rem;
  cursor: pointer;
  background-color: #f72310;
  color: white;
  padding: .1rem 0 .625rem .75rem;
  border: 0;
  border-radius: .1875rem;
}

.subscribe-button::after {
  width: 1.4rem;
  height: 1.4em;
  content: "";
  display: inline-block;
  margin-left: .5625rem;
  background: url(/assets/right-arrow-black-icon.png) center / contain no-repeat;
  position: relative;
  top: .4rem;
  right: .4rem;
  filter: invert(100%);
}

.subscribe-signup {
  margin: 0;
  padding: 0;
  text-align: center
}

.subscribe-signup-info {
  border: .0625rem solid #ebebeb;
  padding: 1.25rem;
}

.subscribe-signup-info h3 {
  font-size: 1.25rem;
}

.subscribe-form-submit,
.subscribe-form-text {
  width: 100%;
  height: 2.375rem;
  line-height: 2.375rem;
}

.subscribe-form-text {
  color: #555;
  font-size: .875rem;
  font-family: "Helvetica", sans-serif;
  background-color: white;
  border: .0625rem solid #e0e1e1;
  text-indent: .5625rem;
}

.subscribe-form-submit {
  margin-top: .6875rem;
  color: white;
  cursor: pointer;
  border: 0;
  border-radius: .1875rem;
  background-color: #f61602;
}

/* FOOTER */
.footer-row {
  padding: 1.9rem .9375rem;
}

.footer-logo {
  width: 14.75rem;
  height: 2.25rem;
  margin-right: .9375rem;
  margin-bottom: .75rem;
  filter: invert(23%) sepia(61%) saturate(7246%) hue-rotate(356deg) brightness(99%) contrast(96%);
}

.footer-icons,
.footer-copyright {
  color: #666;
  margin-bottom: .75rem;
}

.footer-icons {
  margin-bottom: .5rem !important;
}

.footer-copyright {
  font-size: .75rem;
  line-height: .75rem;
}

.footer-icons li:first-child {
  margin-left: 0;
}

.footer-icons li {
  line-height: 1.5rem;
  margin-left: .625rem;
}

.linkedin-icon,
.tumblr-icon,
.instagram-icon,
.tweeter-icon,
.facebook-icon {
filter: invert(38%) sepia(1%) saturate(915%) hue-rotate(348deg) brightness(97%) contrast(80%);
}

.facebook-icon:hover {
  filter: invert(33%) sepia(47%) saturate(709%) hue-rotate(183deg) brightness(90%) contrast(91%);
}

.facebook-icon {
  width: 1.9rem;
}

.tweeter-icon:hover {
  filter: invert(53%) sepia(64%) saturate(3736%) hue-rotate(181deg) brightness(105%) contrast(90%);
}

.tweeter-icon {
  width: 1.4rem;
}

.instagram-icon:hover {
  filter: invert(39%) sepia(54%) saturate(7326%) hue-rotate(225deg) brightness(95%) contrast(89%);
}

.instagram-icon {
  width: 1.4rem;
}

.tumblr-icon:hover {
  filter: invert(24%) sepia(11%) saturate(1708%) hue-rotate(174deg) brightness(91%) contrast(86%);
}

.tumblr-icon {
  width: 1.3rem;
}

.linkedin-icon:hover {
  filter: invert(33%) sepia(70%) saturate(1499%) hue-rotate(174deg) brightness(90%) contrast(101%);
}

.linkedin-icon {
  width: 1.2rem;
}

.footer-links {
  flex-wrap: wrap;
  border-top: .0625rem solid #d9d9d9;
  padding-top: .375rem;
  font-size: .875rem;
  line-height: .9375rem;
  color: #666;
}

.footer-links-edition{
 padding: 0;
}

.footer-links-edition label {
  margin-top: .375rem;
  margin-right: .9375rem;
}

.footer-editions-menu li {
  display: inline-block;
  padding-right: 1.25rem;
  margin: .375rem 0;
  cursor: pointer;
}

.footer-editions-menu li a {
  color: #666; 
}
