/* STANDARD CLASSES */
.gray-title {
  text-transform: uppercase;
  font-size: .9375rem;
  line-height: 1rem;
  font-weight: bold;
  color: rgba(3,3,3,.4);
  margin: 1.2rem 0 .6875rem;
}

.no-decor {
  color: black;
  text-decoration: none !important;
}

/* NAVBAR */
.navbar {
  flex-wrap: nowrap;
  background-color: #f72210;
  height: 3.125rem;
  padding: unset;
}

.navbar-brand img {
  margin: 0 0 .25rem .9375rem;
  width: 8.25rem;
  filter: invert();
}

.profile {
  width: 1.875rem;
  margin-right: .3125rem;
}

.btn-warning {
  padding: 0.1rem .3rem;
  background-color: #ffe400;
  font-size: .7rem;
  font-weight: 900;
}

.navbar-toggler {
  margin-right: .1875rem;
}

.navbar-toggler-icon {
  width: 1.375rem;
}

/* MAIN CONTENT */

/* TOP STORY */
.main {
  background-color: #f4f5f7;
}

.top-story {
  background-color: white;
}

.card {
  border: 0;
}

.img-box {
  position: relative;
}

.gray-icon {
  height: 1.875rem;
  width: auto;
  background-color: rgba(255,255,255,.9);
  color: #f72210;
  text-transform: uppercase;
  padding: .5rem .9375rem .5625rem;
  z-index: 1;
  font-size: .9375rem;
  font-weight: 700;
  line-height: 15px;
  position: absolute;
  left: 0;
  bottom: 0;
}

.card-body {
  padding: .625rem 0 1.25rem;
}

.card-title {
  font-size: 1.1875rem;
  font-weight: 800;
}

.card-text {
  font-size: .8125rem;
  line-height: 1.125rem;
}

/* FEATURED STORIES */
.featured-stories {
  margin-top: 1.25rem;
  background-color: white;
}

/* THE DEBATE */
.debate {
  padding-top: 1.25rem;
  background-color: #f4f5f7;
}

.debate-box {
  display: flex;
  flex-direction: column;
  background-color: white;
}

.debate-first {
  border-top: .25rem solid #f92859;
  margin: 0 .9375rem;
  padding-top: .625rem;
  padding-bottom: .25rem;
}

.debate-first-box {
  display: flex;
  align-items: center;
}

.debate-sec-box img,
.debate-first-box img {
  width: 3.9375rem;
}

.debate-first-box img {
  margin-right: .9375rem;
}

.debate-info {
  font-weight: 600;
}

.debate-author {
  font-size: .75rem;
  font-weight: 800;
  text-transform: uppercase;
}

.debate-author span {
  font-weight: normal;
}

.versus {
  position: relative;
  margin: 0 .9375rem;
}

.versus::before {
  top: calc(50% - 2px);
  content: "";
  display: block;
  background-color: #d9d9d9;
  height: 1px;
  position: absolute;
  left: 0;
  right: 0;
}

.vs-icon {
  position: relative;
  z-index: 1;
  width: 32px;
  height: 32px;
  background-color: #000;
  color: #d6d6d6;
  border-radius: 50%;
  font: bold 14px/32px "Roboto Condensed",sans-serif;
  text-align: center;
  margin: 6px auto;
}

.versus::after {
  top: 50%;
  content: "";
  display: block;
  background-color: #d9d9d9;
  height: 1px;
  position: absolute;
  left: 0;
  right: 0;
}

.debate-sec {
  border-bottom: .25rem solid #1c87fb;
  padding-bottom: .75rem;
  margin: 0 .9375rem;
}

.debate-sec-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
